<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Danh sách khuyến mãi</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/pagination/simplePagination.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách khuyến mãi</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-success" href="/admin/magiamgia/create">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Tạo khuyến mãi</span>
        </a>
        <a role="button" class="btn btn-info" href="/admin/magiamgia">
            <span class="fas fa-redo-alt" style="margin-right:0.5rem;"></span>
            <span>Refresh</span>
        </a>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th width="15%">
                                    Mã code
                                </th>
                                <th width="15%">
                                    Tên khuyến mãi
                                </th>
                                <th width="10%">
                                    Loại
                                </th>
                                <th width="20%">
                                    Giá trị
                                </th>
                                <th width="10%">
                                    Số lượng
                                </th>
                                <th width="10%">
                                    Trạng thái
                                </th>
                                <th width="20%">
                                    Ngày hết hạn
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="magiamgia : ${maGiamGiaList}">
                                    <tr>
                                        <td>
                                            <a th:href="@{/admin/magiamgia/{id}(id=${magiamgia.id})}" th:text="${magiamgia.code}"></a>
                                        </td>
                                        <td>
                                            <a th:href="@{/admin/magiamgia/{id}(id=${magiamgia.id})}" th:text="${magiamgia.ten}"></a>
                                        </td>
                                        <td>
                                            <span th:text="${magiamgia.loai}"></span>
                                        </td>
                                        <td class="text-right">
                                            <th:block th:if="${magiamgia.loai} == 2">
                                                <span th:text="${magiamgia.giatri}"></span> %
                                            </th:block>
                                            <th:block th:if="${magiamgia.loai} == 1">
                                                <span class="text-price" th:text="${magiamgia.giatri}"></span> đ
                                            </th:block>
                                        </td>
                                        <td>
                                            <span th:text="${magiamgia.soluong}"></span>
                                        </td>
                                        <td>
                                            <th:block th:if="${magiamgia.isActive()} == true">
                                                Kích hoạt
                                            </th:block>
                                            <th:block th:if="${magiamgia.isActive()} == false">
                                                Vô hiệu hóa
                                            </th:block>
                                        </td>
                                        <td>
                                            <span th:text="${#dates.format(magiamgia.expiredAt, 'dd-MM-yyyy')}"></span>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/vendor/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/dist/js/table.js}"></script>
    <script th:inline="javascript">
        var name, code, active;

        $(function () {
             let vars = parseUrl();
             name = vars["name"] || ""
             code = vars["code"] || ""
             active = vars["active"] || ""

             $('#name').val(name)
             $('#code').val(code)
             $('#active').val(active)
        });
    </script>
</th:block>
</body>
</html>


