<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title th:text="${product.ten}"></title>

    <th:block id="css-resources">
        <!-- summernote -->
        <link rel="stylesheet" th:href="@{/adminlte/plugins/summernote/summernote-bs4.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/modal_img.css}">
        <link rel="stylesheet" th:href="@{/adminlte/dist/css/list_image_product.css}">
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="/admin/products">Danh sách sản phẩm</a></li>
                <li class="breadcrumb-item active" th:text="${product.ten}"></li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-default" href="/admin/products">
            <span class="fas fa-chevron-left" style="margin-right:0.5rem;"></span>
            <span>Trở về</span>
        </a>
        <button class="btn btn-danger float-right" data-toggle="modal" data-target="#modal-delete-product"><i class="fas fa-trash-alt"></i> Xóa</button>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                    <ul class="nav nav-tabs" id="custom-tabs-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="custom-tabs-info-tab" data-toggle="pill" href="#custom-tabs-info" role="tab" aria-controls="custom-tabs-info" aria-selected="true">Thông tin chung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="custom-tabs-size-tab" data-toggle="pill" href="#custom-tabs-size" role="tab" aria-controls="custom-tabs-size" aria-selected="false">Loại sản phẩm</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="custom-tabs-tabContent">
                        <!-- Tab info -->
                        <div class="tab-pane fade show active" id="custom-tabs-info" role="tabpanel" aria-labelledby="custom-tabs-info-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-update-product">
                                            <span>Cập nhật</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8">
                                    <div class="form-group">
                                        <div>
                                            <label class="required-label" for="name">Tên sản phẩm</label>
                                            <span class="invalid-feedback" id="invalid-feedback-name">Độ dài tên từ 1 - 300 ký tự</span>
                                        </div>
                                        <input type="text" class="form-control" id="name" th:value="${product.ten}">
                                    </div>
                                    <div class="form-group">
                                        <div>
                                            <label class="required-label" for="description">Mô tả</label>
                                            <span class="invalid-feedback" id="invalid-feedback-description">Mô tả sản phẩm trống</span>
                                        </div>
                                        <textarea class="textarea" id="description" name="description" th:text="${product.mota}"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <div class="form-group">
                                        <label for="is-available" class="required-label">Trạng thái</label>
                                        <select class="form-control" id="is-available">
                                            <option value="true" th:selected="${product.isAvailable() == true}">Mở bán</option>
                                            <option value="false" th:selected="${product.isAvailable() == false}">Không bán</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="brand" class="required-label">Nhãn hiệu</label>
                                        <select class="form-control" id="brand">
                                            <th:block th:each="brand : ${brands}">
                                                <option th:value="${brand.id}" th:text="${brand.name}" th:selected="${product.nhanHieu.id == brand.id}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div>
                                        <label class="required-label">Ảnh sản phẩm</label>
                                        <span class="invalid-feedback" id="invalid-feedback-product-img">Chưa chọn ảnh sản phẩm</span>
                                    </div>
                                    <div id="list-product-image" class="grid-list-img">
                                        <th:block th:each="img : ${product.productImages}">
                                            <div class="grid-item">
                                                <div class="img-container">
                                                    <div class="img-div">
                                                        <img th:src="${img}" alt="product img">
                                                    </div>
                                                </div>
                                                <div class="remove-img" onclick="removeProductImage(this)">
                                                    <i class="fas fa-times-circle"></i>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <button type="button" class="btn btn-info" id="btn-upload-product-img">
                                        Chọn ảnh
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Tab product loai -->
                        <div class="tab-pane fade" id="custom-tabs-size" role="tabpanel" aria-labelledby="custom-tabs-size-tab">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <label>Tên loại</label>&emsp;
                                    <input class="form-control" id="tenloai" data-id="" placeholder="Nhập tên loại" style="width: 145px;">
                                    <span class="invalid-feedback" id="invalid-feedback-tenloai">Vui lòng nhập tên loại</span>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label>Giá</label>&emsp;
                                    <input type="number" class="form-control" id="gia" min="0" value="0">
                                    <span class="invalid-feedback" id="invalid-feedback-gia">Vui lòng nhập gia</span>
                                </div>
                                <div class="form-group mx-sm-3 mb-2">
                                    <label>Số lượng có sẵn</label>&emsp;
                                    <input type="number" class="form-control" id="soluong" min="0" value="0">
                                </div>
                                <button type="submit" class="btn btn-success mb-2 btn-insert-new-lsp">Thêm mới</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-success mb-2 btn-update-lsp">Cập nhật</button>
                                <span class="invalid-feedback" id="invalid-feedback-soluong">Vui lòng nhập số lượng</span>
                            </form>
                            <div>
                                <table class="table table-striped table-bordered table-hover" style="width:auto">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Tên loại</th>
                                        <th>Giá</th>
                                        <th>Số lượng có sẵn</th>
                                        <th>Xoá</th>
                                    </tr>
                                    </thead>
                                    <tbody class="list-product-loai">
                                    <th:block th:each="lsp : ${loaiSPListOfSP}">
                                        <tr>
                                            <td th:text="${lsp.id}" class="loai-id"></td>
                                            <td th:text="${lsp.tenloai}" class="loai-ten"></td>
                                            <td th:text="${lsp.gia}" class="loai-gia"></td>
                                            <td th:text="${lsp.soluong}" class="loai-soluong"></td>
                                            <td style="text-align: center">
                                                <a th:href="@{/api/delete/loaisanpham/{id}(id=${lsp.id})}" style="text-align: center; color: red">Xóa</a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal delete product -->
    <div class="modal fade" id="modal-delete-product" tabindex="-1" role="dialog" aria-labelledby="modalDeleteProduct" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xác nhận xóa sản phẩm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <span>Bạn chắc chắn muốn xóa sản phẩm?</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-danger btn-delete-product">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="~{fragment/choose_img_modal :: choose-img-modal}"></th:block>
</main>

<th:block id="js-resources">
    <!-- Summernote -->
    <script th:src="@{/adminlte/plugins/summernote/summernote-bs4.min.js}"></script>
    <!-- List js -->
    <script th:src="@{/adminlte/plugins/list/list.min.js}"></script>
    <!-- Modal img js -->
    <script th:src="@{/adminlte/dist/js/modal_img.js}"></script>
    <script th:inline="javascript">
        $(function () {
            $('#description').summernote(
                {
                    height: 450,
                    focus: true
                }
            )

            let imgs = [[${images}]];
            let tmp = [];
            for (img of imgs) {
                tmp.push({"grid-item-img":img})
            }
            initListImg(tmp);
        })

        var selectedRow = null;
        // Hàm cập nhật các trường trong biểu mẫu dựa trên hàng được chọn trong bảng
        function capNhatThongTin(row) {
            selectedRow = row;

            // Giả sử selectedRow là một tham chiếu đến hàng được chọn trong bảng
            var id = selectedRow.querySelector('.loai-id').textContent;
            var tenloai = selectedRow.querySelector('.loai-ten').textContent;
            var gia = selectedRow.querySelector('.loai-gia').textContent;
            var soluong = selectedRow.querySelector('.loai-soluong').textContent;

            // Cập nhật các trường trong biểu mẫu với thông tin của loại sản phẩm được chọn
            document.getElementById('tenloai').value = tenloai;
            document.getElementById('tenloai').setAttribute('data-id', id);
            document.getElementById('gia').value = gia;
            document.getElementById('soluong').value = soluong;
        }

        // Gắn một trình nghe sự kiện click cho mỗi hàng trong bảng
        var tableRows = document.querySelectorAll('.list-product-loai tr');
        tableRows.forEach(function (row) {
            row.addEventListener('click', function () {
                // Gọi hàm capNhatThongTin khi một hàng được chọn
                capNhatThongTin(row);
            });
        });

        $('#btn-upload-product-img').click(function() {
            $('#choose-img-modal').modal('show');
            $('.btn-choose-img').on('click', function(event) {
                let url = $('#list-user-img .grid-item.choosen .grid-item-img').attr('src');
                console.log('==== url:' + url);
                if (url == "" || url == null) {
                    toastr.warning("Bạn chưa chọn ảnh");
                    return;
                }
                closeChooseImgModal();
                $('.btn-choose-img').off('click');
                $('#list-product-image').append(`
                    <div class="grid-item">
                        <div class="img-container">
                            <div class="img-div">
                                <img src="${url}" alt="product img">
                            </div>
                        </div>
                        <div class="remove-img" onclick="removeProductImage(this)">
                            <i class="fas fa-times-circle"></i>
                        </div>
                    </div>`)
            });
        })

        function removeProductImage(btn) {
            $(btn).parent().remove();
        }

        $('.btn-update-product').click(function() {
            $('.invalid-feedback').hide();
            let name = $('#name').val();
            let description = $('#description').val();
            let brand = $('#brand').val();
            let isAvailable = false;
            if ($('#is-available').val() == "true") {
                isAvailable = true;
            }
            let productImgs = [];
            $('#list-product-image .grid-item .img-container .img-div img').each(function() {
               productImgs.push($(this).attr('src'));
            })
            isValid = true;

            if (name.length == 0 || name.length > 300) {
                $('#invalid-feedback-name').show();
                isValid = false;
            }

            if (description.length == 0) {
                $('#invalid-feedback-description').show();
                isValid = false;
            }

            if (productImgs.length == 0) {
                $('#invalid-feedback-product-img').show();
                isValid = false;
            }

            if (isValid) {
                req = {
                    name: name,
                    description: description,
                    brand_id: parseInt(brand),
                    is_available: isAvailable,
                    product_images: productImgs
                }
                var myJSON = JSON.stringify(req);
                $.ajax({
                    url: '/api/admin/products/'+[[${product.id}]],
                    type: 'PUT',
                    data: myJSON,
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        toastr.success("Cập nhật thành công");
                        setTimeout(function() {
                            location.href = "/admin/products/";
                        }, 1000);
                    },
                    error: function(data) {
                        toastr.warning(data.responseJSON.message);
                    }
                });
            }
        })

        $('.btn-insert-new-lsp').click(function(e) {
            e.preventDefault();
            console.log('==== click ok:');
            let ten = $('#tenloai').val();
            let id = parseInt($('#tenloai').data('id'));
            let gia = parseInt($('#gia').val());
            let soluong = parseInt($('#soluong').val());

            isValidate = true;

            if (isValidate) {
                req = {
                    id: id,
                    tenloai: ten,
                    gia: gia,
                    soluong: soluong,
                    product_id: [[${product.id}]]
                }
                console.log('==== req:' + req);
                var myJSON = JSON.stringify(req);
                $.ajax({
                    url: '/api/admin/products/insertlsp',
                    type: 'PUT',
                    data: myJSON,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data === "Da ton tai loai san pham") {
                            toastr.warning(data);
                        }else if(data === "Loai san pham trung ten"){
                            toastr.warning(data);
                        }else {
                            toastr.success("Thêm thành công");
                            setTimeout(function() {
                                location.href = "/admin/products/"+[[${product.id}]];
                            }, 1000);
                        }
                    },
                    error: function (data) {
                        toastr.warning(data.responseJSON.message);
                    },
                });
            }
        })

        $('.btn-update-lsp').click(function(e) {
            e.preventDefault();
            console.log('==== click ok:');
            let ten = $('#tenloai').val();
            let id = parseInt($('#tenloai').data('id'));
            let gia = parseInt($('#gia').val());
            let soluong = parseInt($('#soluong').val());

            isValidate = true;

            if (isValidate) {
                req = {
                    id: id,
                    tenloai: ten,
                    gia: gia,
                    soluong: soluong,
                    product_id: [[${product.id}]]
                }
                console.log('==== req:' + req);
                var myJSON = JSON.stringify(req);
                $.ajax({
                    url: '/api/admin/products/updatelsp',
                    type: 'PUT',
                    data: myJSON,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data === "Chua ton tai san pham") {
                            toastr.warning(data);
                        }else if(data === "Loai san pham trung ten"){
                            toastr.warning(data);
                        }else {
                            // Cập nhật dữ liệu trong bảng
                            var rowToUpdate = selectedRow; // Lấy tham chiếu đến hàng đã chọn
                            rowToUpdate.querySelector('.loai-ten').textContent = ten;
                            rowToUpdate.querySelector('.loai-gia').textContent = gia;
                            rowToUpdate.querySelector('.loai-soluong').textContent = soluong;
                            toastr.success("Cập nhật thành công");
                        }
                    },
                    error: function (data) {
                        toastr.warning(data.responseJSON.message);
                    },
                });
            }
        })

        $('.btn-delete-product').click(function() {
            $.ajax({
                url: '/api/admin/products/'+[[${product.id}]],
                type: 'DELETE',
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    toastr.success("Xóa sản phẩm thành công");
                    setTimeout(function() {
                        location.href = "/admin/products/";
                    }, 1000);
                },
                error: function(data) {
                    toastr.warning(data.responseJSON.message);
                },
            });
        })
    </script>
</th:block>
</body>
</html>