<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout_admin :: main-fragment(
                                                ~{:: title},
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Danh sách đơn hàng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/pagination/simplePagination.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="row">
        <div class="col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                <li class="breadcrumb-item active">Danh sách đơn hàng</li>
            </ol>
        </div>
    </div>

    <!-- Toolbar -->
    <div class="toolbar">
        <a role="button" class="btn btn-success" href="/admin/donhang/create">
            <span class="fa fa-plus" style="margin-right:0.5rem;"></span>
            <span>Tạo đơn hàng</span>
        </a>
        <a role="button" class="btn btn-info" href="/admin/donhang">
            <span class="fas fa-redo-alt" style="margin-right:0.5rem;"></span>
            <span>Refresh</span>
        </a>
        <div class="clear"></div>
    </div>

    <!-- Main content -->
    <div class="row">
        <div class="col-12">
            <div class="card card-outline">
                <div class="card-body pad">
                    <div class="table-responsive">
                        <!-- Table data -->
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr class="heading">
                                <th width="8%">
                                    Mã đơn
                                </th>
                                <th width="22%">
                                    Người nhận
                                </th>
                                <th width="15%">
                                    Điện thoại
                                </th>
                                <th width="20%">
                                    Trạng thái
                                </th>
                                <th width="15%">
                                    Tổng tiền
                                </th>
                                <th width="20%">
                                    Ngày tạo đơn
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="order : ${donHangDTOList}">
                                    <tr>
                                        <td>
                                            <a th:href="@{/admin/donhang/{id}(id=${order.id})}" th:text="${order.id}"></a>
                                        </td>
                                        <td th:text="${order.tenNguoiNhan}"></td>
                                        <td th:text="${order.sdtNguoiNhan}"></td>
                                        <td>
                                            <span th:if="${order.trangthai} == 0" class="badge badge-warning">Chờ xác nhận</span>
                                            <span th:if="${order.trangthai} == 1" class="badge badge-primary">Chờ giao hàng</span>
                                            <span th:if="${order.trangthai} == 2" class="badge badge-success">Đang giao hàng</span>
                                            <span th:if="${order.trangthai} == 3" class="badge badge-danger">Đã giao hàng</span>
                                            <span th:if="${order.trangthai} == 4" class="badge badge-light">Đã hủy</span>
                                        </td>
                                        <td th:text="${order.tongtra}"></td>
                                        <td>
                                            <span th:text="${order.createdAt}"></span>
                                        </td>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/vendor/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/dist/js/table.js}"></script>
    <script th:inline="javascript">
        var id, name, phone, status, product;

        $(function () {
            let vars = parseUrl();
            id = vars["id"] || ""
            name = vars["name"] || ""
            phone = vars["phone"] || ""
            status = vars["status"] || ""
            product = vars["product"] || ""

            $('#id').val(id)
            $('#name').val(name)
            $('#phone').val(phone)
            $('#status').val(status)
            $('#product').val(product)
        });
    </script>
</th:block>
</body>
</html>


