<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Điều khoản sử dụng</title>

    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/rules.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrumb -->
    <div class="breadcrumb container">
        <a class="previous-page" href="/">Trang chủ</a>
        <i class="fas fa-chevron-right arrow"></i>
        <span class="current-page">Điều khoản sử dụng</span>
    </div>

    <!-- Main content -->
    <section class="main-content container">
        <div class="about-obo">
            <h2 class="h2">Điều khoản và điều kiện giao dịch</h2>
        </div>
        <div class="content">
            <p>Chào mừng Quý khách đến với website cung cấp dịch vụ thương mại điện tử hoặc ứng dụng cung cấp dịch vụ thương mại điện tử  (sau đây gọi là " Website/Ứng Dụng"), website điện tử thiết lập và sở hữu bởi CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP, một công ty thuộc tập đoàn  thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0104918404 do Sở KHĐT Hà Nội cấp lần đầu ngày 20/09/2010 như được sửa đổi bổ sung từng thời điểm (sau đây gọi chung là  "OBO Stadium")</p>
            <p>Shop cũng đã được Bộ Công Thương xác nhận đăng ký đối với ứng dụng di động Thương mại điện tử (sau đây gọi là “ Ứng Dụng”) từ ngày 25/12/2017.</p>
            <p>Xin vui lòng đọc kỹ Điều khoản và điều kiện giao dịch này (sau đây gọi là " Điều Khoản Và Điều Kiện") trước khi đặt mua bất kỳ hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ nào trên Website/Ứng Dụng (sau đây gọi là " Sản Phẩm").</p>
            <p> <b>1. Phạm vi áp dụng</b>
            <p><i>1.1. Điều Khoản Và Điều Kiện sẽ được áp dụng cho khách hàng:</i></p>
            <p>(i) Mua Sản Phẩm bán trên Website/Ứng Dụng</p>
            <p>(ii) Có nhu cầu được giao Sản Phẩm đến các địa điểm phù hợp với Chính sách giao hàng đăng tải trên Website/Ứng Dụng.</p>
            <p>1.2. Khách hàng tại Điều Khoản Và Điều Kiện này bao gồm: mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi dân sự phù hợp để thực hiện giao dịch thông qua OBO Stadium và (ii) mọi tổ chức được thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “ Khách Hàng”).</p>
            </p>
            <p>Chào mừng Quý khách đến với website cung cấp dịch vụ thương mại điện tử hoặc ứng dụng cung cấp dịch vụ thương mại điện tử  (sau đây gọi là " Website/Ứng Dụng"), website điện tử thiết lập và sở hữu bởi CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP, một công ty thuộc tập đoàn  thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0104918404 do Sở KHĐT Hà Nội cấp lần đầu ngày 20/09/2010 như được sửa đổi bổ sung từng thời điểm (sau đây gọi chung là  "OBO Stadium")</p>
            <p>OBO Stadium cũng đã được Bộ Công Thương xác nhận đăng ký đối với ứng dụng di động Thương mại điện tử (sau đây gọi là “ Ứng Dụng”) từ ngày 25/12/2017.</p>
            <p>Xin vui lòng đọc kỹ Điều khoản và điều kiện giao dịch này (sau đây gọi là " Điều Khoản Và Điều Kiện") trước khi đặt mua bất kỳ hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ nào trên Website/Ứng Dụng (sau đây gọi là " Sản Phẩm").</p>
            <p> <b>1. Phạm vi áp dụng</b>
            <p><i>1.1. Điều Khoản Và Điều Kiện sẽ được áp dụng cho khách hàng:</i></p>
            <p>(i) Mua Sản Phẩm bán trên Website/Ứng Dụng</p>
            <p>(ii) Có nhu cầu được giao Sản Phẩm đến các địa điểm phù hợp với Chính sách giao hàng đăng tải trên Website/Ứng Dụng.</p>
            <p>1.2. Khách hàng tại Điều Khoản Và Điều Kiện này bao gồm: mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi dân sự phù hợp để thực hiện giao dịch thông qua OBO Stadium và (ii) mọi tổ chức được thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “ Khách Hàng”).</p>
            </p> <p>Chào mừng Quý khách đến với website cung cấp dịch vụ thương mại điện tử hoặc ứng dụng cung cấp dịch vụ thương mại điện tử  (sau đây gọi là " Website/Ứng Dụng"), website điện tử thiết lập và sở hữu bởi CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP, một công ty thuộc tập đoàn  thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0104918404 do Sở KHĐT Hà Nội cấp lần đầu ngày 20/09/2010 như được sửa đổi bổ sung từng thời điểm (sau đây gọi chung là  "OBO Stadium")</p>
            <p>OBO Stadium cũng đã được Bộ Công Thương xác nhận đăng ký đối với ứng dụng di động Thương mại điện tử (sau đây gọi là “ Ứng Dụng”) từ ngày 25/12/2017.</p>
            <p>Xin vui lòng đọc kỹ Điều khoản và điều kiện giao dịch này (sau đây gọi là " Điều Khoản Và Điều Kiện") trước khi đặt mua bất kỳ hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ nào trên Website/Ứng Dụng (sau đây gọi là " Sản Phẩm").</p>
            <p> <b>1. Phạm vi áp dụng</b>
            <p><i>1.1. Điều Khoản Và Điều Kiện sẽ được áp dụng cho khách hàng:</i></p>
            <p>(i) Mua Sản Phẩm bán trên Website/Ứng Dụng</p>
            <p>(ii) Có nhu cầu được giao Sản Phẩm đến các địa điểm phù hợp với Chính sách giao hàng đăng tải trên Website/Ứng Dụng.</p>
            <p>1.2. Khách hàng tại Điều Khoản Và Điều Kiện này bao gồm: mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi dân sự phù hợp để thực hiện giao dịch thông qua OBO Stadium và (ii) mọi tổ chức được thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “ Khách Hàng”).</p>
            </p> <p>Chào mừng Quý khách đến với website cung cấp dịch vụ thương mại điện tử hoặc ứng dụng cung cấp dịch vụ thương mại điện tử  (sau đây gọi là " Website/Ứng Dụng"), website điện tử thiết lập và sở hữu bởi CÔNG TY CỔ PHẦN DỊCH VỤ THƯƠNG MẠI TỔNG HỢP, một công ty thuộc tập đoàn  thành lập và hoạt động theo Giấy chứng nhận đăng ký doanh nghiệp số 0104918404 do Sở KHĐT Hà Nội cấp lần đầu ngày 20/09/2010 như được sửa đổi bổ sung từng thời điểm (sau đây gọi chung là  "OBO Stadium")</p>
            <p>OBO Stadium cũng đã được Bộ Công Thương xác nhận đăng ký đối với ứng dụng di động Thương mại điện tử (sau đây gọi là “ Ứng Dụng”) từ ngày 25/12/2017.</p>
            <p>Xin vui lòng đọc kỹ Điều khoản và điều kiện giao dịch này (sau đây gọi là " Điều Khoản Và Điều Kiện") trước khi đặt mua bất kỳ hàng hóa/dịch vụ/voucher/giấy chứng nhận dịch vụ nào trên Website/Ứng Dụng (sau đây gọi là " Sản Phẩm").</p>
            <p> <b>1. Phạm vi áp dụng</b>
            <p><i>1.1. Điều Khoản Và Điều Kiện sẽ được áp dụng cho khách hàng:</i></p>
            <p>(i) Mua Sản Phẩm bán trên Website/Ứng Dụng</p>
            <p>(ii) Có nhu cầu được giao Sản Phẩm đến các địa điểm phù hợp với Chính sách giao hàng đăng tải trên Website/Ứng Dụng.</p>
            <p>1.2. Khách hàng tại Điều Khoản Và Điều Kiện này bao gồm: mọi cá nhân từ đủ 15 tuổi trở lên, có năng lực hành vi dân sự phù hợp để thực hiện giao dịch thông qua OBO Stadium và (ii) mọi tổ chức được thành lập và hoạt động hợp pháp theo quy định của pháp luật Việt Nam (sau đây gọi là “ Khách Hàng”).</p>
            </p>



        </div>
    </section>
</main>

<th:block id="js-resources">
    <script th:src="@{/script/except-home-page.js}"></script>
</th:block>
</body>
</html>


