.table-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}