<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: main-fragment(
                                                ~{:: title},
                                                'short-header',
                                                ~{:: #css-resources},
                                                ~{:: #js-resources},
                                                ~{:: #main-content}
                                               )}">

<head>
    <title>Giỏ hàng</title>
    <th:block id="css-resources">
        <link rel="stylesheet" type="text/css" th:href="@{/vendor/pagination/simplePagination.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/header.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/products.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/filter-bar.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/product-showing.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/components/shop/filter-bar-small.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/except-home-page.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}"/>
    </th:block>
</head>
<body>
<main id="main-content">
    <!-- Breadcrum Section-->
    <div class="breadcrumb container">
        <a class="previous-page" href="/">Trang chủ</a>
        <i class="fas fa-chevron-right arrow"></i>
        <span class="current-page">Giỏ hàng</span>
    </div>

    <!-- Main content -->
        <div class="row">
            <div class="col-12">
                <div class="card card-outline">
                    <div class="card-body pad">
                        <div class="table-responsive">
                            <!-- Table data -->
                            <div class="table-container">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr class="heading">
                                        <th width="40%">
                                            Tên sản phẩm
                                        </th>
                                        <th width="10%">
                                            Loại sản phẩm
                                        </th>
                                        <th width="8%" style="text-align: center">
                                            Giá
                                        </th>
                                        <th width="7%" style="text-align: center">
                                            Số lượng
                                        </th>
                                        <th width="4%" style="text-align: center">
                                            Xoá
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="cart_sp : ${listCart_sp}">
                                        <tr>
                                            <td>
                                                <a th:href="@{/fix_cart/{id}(id=${cart_sp.id})}" th:text="${cart_sp.sanPham.ten}"></a>
                                            </td>
                                            <td th:text="${cart_sp.loaiSP.tenloai}" style="text-align: center"></td>
                                            <td class="text-price" th:text="${cart_sp.loaiSP.gia}" style="text-align: center"></td>
                                            <td th:text="${cart_sp.soluong}" style="text-align: center"></td>
                                            <td style="text-align: center">
                                                <a th:href="@{/delete/cart_product/{id}(id=${cart_sp.id})}" style="text-align: center; color: red">Xóa</a>
                                            </td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <div class="price" th:style="'font-weight: bold; text-align: center;'">
                                Tổng tiền: <span class="text-price"  th:text="${tong_tien}"></span>
                            </div>
                            <div class="button-container">
                                <button id="deleteButton" class="btn btn-danger">
                                    <div class="delete-text right-content">
                                        <div class="delete main-content">Xóa tất cả sản phẩm trong giỏ hàng</div>
                                    </div>
                                </button>
                                <button id="createOrderButton" class="btn btn-primary">
                                    <div class="createOrder-text right-content">
                                        <div class="createOrder main-content">Tạo đơn hàng</div>
                                    </div>
                                </button>
                            </div>
                        </div>

                        <!-- Pagination -->
                        <nav aria-label="Page navigation">
                            <ul class="pagination" id="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
</main>

<th:block id="js-resources">
    <script type="text/javascript" th:src="@{/vendor/pagination/jquery.simplePagination.js}"></script>
    <script type="text/javascript" th:src="@{/adminlte/dist/js/table.js}"></script>
    <script th:src="@{/script/except-home-page.js}"></script>
    <script th:inline="javascript">
        $('#deleteButton').click(function() {
            req = {
                "cart_id": [[${cart_id}]],
            }
            var myJSON = JSON.stringify(req);
            $.ajax({
                type: "POST",
                url: "/xoa-allproductcart",
                data: myJSON,
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    window.location.href = "/gio-hang";
                    toastr.success("Xóa tất cả sản phẩm giỏ hàng thành công");
                },
                error: function() {
                    toastr.error("Lỗi khi xóa sản phẩm giỏ hàng.");
                }
            });
        })

        $('#createOrderButton').click(function() {
            req = {
                "cart_id": [[${cart_id}]],
            }
            var myJSON = JSON.stringify(req);
            $.ajax({
                type: "POST",
                url: "/check_create_order",
                data: myJSON,
                contentType: "application/json; charset=utf-8",
                success: function(response) {
                    if (response === "ok") {
                        window.location.href = "/create_order";
                    } else if (response === "not ok") {
                        toastr.error("Hãy kiểm tra lại số lượng sản phẩm trong giỏ hàngs");
                    }
                },
                error: function() {
                    toastr.error("Lỗi khi tạo đơn hàng.");
                }
            });
        })
        pagination([[${totalPages}]], [[${currentPage}]]);
    </script>
</th:block>
</body>
</html>